@media (max-width: 768px) and (min-width: 320px) {
  .start{
    display: none;
  }
}

@media (max-width: 1172px) and (min-width: 320px) {
  .wrapper{
    padding: 0px 16px;
  }
}

/* საიდბარი */
@media (max-width: 768px) and (min-width: 320px) {
  .header-ul{
  display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .sidebar.open {
    left: 0;
  }
}

/* faq */

@media (max-width: 768px) and (min-width: 320px) {
  .faq-wrapper{
    margin: 93px auto 42px;
  }
}

/* rules */

@media (max-width: 768px) and (min-width: 320px) {
  .rules-h1{
    font-size: 16px;
    margin-bottom: 20px;
  }

  .rules-wrapper{
    margin: 0 auto 42px;
    font-size: 14px;
  }

  .recommendation{
    margin: 64px auto 24px;
  }
}

/* მეტის ნახვა */

@media (max-width: 768px) and (min-width: 320px) {
  .div-popular{
    gap: 24px;
  }
  
  .h1-popular{
    font-size: 16px;
    margin-bottom: 16px;
  }

  .profile-img {
    width: 96px;
    height: 96px;
  }

  .see-all-wrapper{
    display: none;
  }

  .autor-p{
    font-size: 14px;
  }

  .card {
    padding: 16px;
    gap: 16px;
  }

  .slider-card-popular {
    max-width: 343px;
  }

  .slider-card-cover {
    height: 170px;
  }

  .slider-card-tag {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .slider-card-title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .slider-card-text {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .img-user{
    width: 14px;
    height: 14px;
  }

  .more-wrapper{
    margin: 88px auto 42px;
  }
}

@media (max-width: 1172px) and (min-width: 320px) {
  .div-popular{
    justify-content: center;
  }
}

/* ჰედერი */

@media (max-width: 425px) and (min-width: 320px) {
  .header-right{
    gap: 12px;
  }

  .header-logo{
    width: 132px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .header{
    margin: 18px auto;
  }
}

/* უსერ მოდალი */

@media (max-width: 768px) and (min-width: 320px) {
  .user-modal {
    max-width: 227px;
    right: 16px;
  }

  .div-user-img-info{
    padding: 16px;
  }

  .li-user{
    padding: 14px;
  }
}

/* შეტყობინებების მოდალი */

@media (max-width: 768px) and (min-width: 320px) {
  .notification-modal {
    position: fixed;
    top: 65px;
    left: 0;
    height: calc(100% - 65px);
    max-width: none;
    max-height: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .close-notif{
    display: flex;
  }

  .h3-button-notif{
    padding: 20px 12px 32px 20px;
    border-bottom: none;
  }

  .notif-title {
    font-size: 16px;
    border-bottom: none;
  }

  .notif-list {
    flex: 1;
  }

  .notif-item {
    padding: 14px 20px;
  }
}

/* სერჩი */

@media (max-width: 768px) and (min-width: 320px) {
  .search-submit {
    display: none;
  }

  .right-controls {
    position: relative;
  }

  .filter-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .filter-dropdown:hover {
    background: #F8F8F8;
  }

  .dropdown-arrow {
    transition: transform 0.3s ease;
  }

  .filter-dropdown.open .dropdown-arrow {
    transform: rotate(180deg);
  }

  .filter-options {
    position: absolute;
    top: 25px;
    right: -17px;
    background: #FDFCF9;
    border: 1px solid #ACACAC;
    border-radius: 300px;
    display: none;
    padding: 18px 23px;
    gap: 12px;
    z-index: 99;
  }

  .filter-options.open {
    display: flex;
  }

  .right-controls > .chip {
    display: none;
  }

  .filter-options .chip {
    padding: 0px;
    border: none;
    background: #FDFCF9;
    font-size: 12px;
    letter-spacing: 0.06px;
  }
}

@media (max-width: 1140px) and (min-width: 320px) {
  .search-dropdown{
    padding: 0 16px;
  }
}

/* ფუტერი */

@media (max-width: 1172px) and (min-width: 769px) {
  .div-footer{
    padding: 70px 32px 30px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .div-footer{
    padding: 32px 24px 16px;
  }
}


@media (max-width: 455px) and (min-width: 320px) {
  .footer-nav-logo {
    gap: 28px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .footer-div-p{
    font-size: 14px;
  }

  .h4-nav-footer{
    margin-bottom: 20px;
  }

  .footer-ul{
    gap: 12px;
  }
}

@media (max-width: 787px) and (min-width: 320px) {
  .footer-div-p{
    max-width: 704px;
  }
}

@media (max-width: 455px) and (min-width: 351px) {
  .footer-div-margin-right{
    margin-right: 18px;
  }
}

@media (max-width: 455px) and (min-width: 320px) {
  .footer-div-margin-top{
    margin-top: 4px;
  }
}

@media (max-width: 321px) and (min-width: 320px) {
  .footer-div-margin-right{
    margin-right: 16px;
  }
}

@media (max-width: 533px) and (min-width: 320px) {
  .div-under{
    display: block;
  }

  .div-social{
    justify-self: flex-end;
    margin-bottom: 25px;
  }
  
  .p-footer-down{
    display: flex;
  }
}

@media (max-width: 366px) and (min-width: 345px) {
  .p-footer-down{
    font-size: 13px;
  }
}

@media (max-width: 344px) and (min-width: 320px) {
  .p-footer-down{
    font-size: 12px;
  }
}

@media (max-width: 322px) and (min-width: 320px) {
  .p-footer-down{
    font-size: 11px;
  }
}

/* მთავარი გვერდი */

@media (max-width: 768px) and (min-width: 320px) {
  .wellcome-modal-content {
    padding: 36px 21px;
  }
  .wellcome-modal-text {
    font-size: 14px;
    max-width: 269px;
    margin-top: 12px;
  }

  .wellcome-modal-text-2{
    font-size: 12px;
    margin-top: 12px;
    max-width: 269px;
  }

  .modal-icon-wellcome{
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 1280px) and (min-width: 1025px) {
  .hero-wrapper {
    padding: 170px 32px 120px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .hero-wrapper {
    padding: 150px 32px 100px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .hero-wrapper {
    padding: 104px 16px 73px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .hero-text{
    font-size: 14px;
    width: 290px;
  }

  .hero-button {
    width: 144px;
    height: 42px;
    font-size: 12px;
  }

  .hero-title{
    font-size: 16px;
  }
}

@media (max-width: 1318px) and (min-width: 769px) {
  .main-wrapper{
    padding: 0 10px;
  }
}

@media (max-width: 1318px) and (min-width: 1276px) {
  .slider-container {
    gap: 55px;
  }

  .slider-section-header {
    padding: 0 80px;
  }
}

@media (max-width: 1275px) and (min-width: 1226px) {
  .slider-container {
    gap: 50px;
  }

  .slider-section-header {
    padding: 0 75px;
  }
}

@media (max-width: 1225px) and (min-width: 1176px) {
  .slider-container {
    gap: 45px;
  }

  .slider-section-header {
    padding: 0 70px;
  }
}

@media (max-width: 1175px) and (min-width: 1126px) {
  .slider-container {
    gap: 40px;
  }

  .slider-section-header {
    padding: 0 65px;
  }
}

@media (max-width: 1125px) and (min-width: 1076px) {
  .slider-container {
    gap: 35px;
  }

  .slider-section-header {
    padding: 0 60px;
  }
}

@media (max-width: 1075px) and (min-width: 1025px) {
  .slider-container {
    gap: 30px;
  }

  .slider-section-header {
    padding: 0 55px;
  }
}

@media (max-width: 1024px) and (min-width: 976px) {
  .slider-container {
    gap: 25px;
  }

  .slider-section-header {
    padding: 0 50px;
  }
}

@media (max-width: 975px) and (min-width: 826px) {
  .slider-container {
    gap: 20px;
  }

  .slider-section-header {
    padding: 0 45px;
  }
}

@media (max-width: 825px) and (min-width: 769px) {
  .slider-container {
    gap: 15px;
  }

  .slider-section-header {
    padding: 0 40px;
  }
}


@media (max-width: 768px) and (min-width: 320px) {
  .main-wrapper{
    margin: 24px auto 36px;
    padding: 0 16px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .slider-section-header {
    margin-bottom: 12px;
    padding: 0 0px;
  }
  
  .slider-section-title {
    font-size: 16px;
  }

  .a-slider{
    font-size: 12px;
  }

  .card-description{
    padding-top: 12px;
  }

  .slider-card-tag {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .img-user{
    width: 14px;
    height: 14px;
  }

  .slider-card-title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .slider-card-text {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .slider-card-meta {
    font-size: 12px;
  }

  .span-images{
    font-size: 12px;
  }

  .card {
    padding: 16px;
    gap: 16px;
  }

  .profile-img{
    width: 96px;
    height: 96px;
  }

  .autor-p{
    font-size: 14px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .slider-btn.visible {
    display: none;
  }

  .slider-btn {
    display: none;
  }

  .exp-slider-track {
    gap: 8px;
  }

  .slider-card {
    max-width: 300px;
  }

  .slider-dots {
    display: flex;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .img-hand {
    width: 28px;
    height: 28px;
  }
}

/* ჩვენს შესახებ */

@media (max-width: 1324px) and (min-width: 769px) {
  .about-slider-wrapper{
    padding: 0 10px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .about-slider-wrapper{
    padding: 0 16px;
    margin: 0px auto 42px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {

  .about-wrapper{
    margin: 88px auto 36px;
  }

  .about-h1{
    font-size: 24px;
    margin-bottom: 24px;
  }

  .about-p{
    font-size: 14px;
  }

  .h2-about{
    font-size: 16px;
    padding-left: 0px;
    margin-bottom: 12px;
  }

  .img-about{
    height: 200px;
  }
}


@media (max-width: 1024px) and (min-width: 769px) {
  .slider-card-about {
    padding: 20px 10px;
  }
}

@media (max-width: 1324px) and (min-width: 1301px) {
  .slider-container-about {
    gap: 60px;
  }

  .h2-about{
    padding-left: 85px;
  }
}

@media (max-width: 1301px) and (min-width: 1251px) {
  .slider-container-about {
    gap: 55px;
  }

  .h2-about{
    padding-left: 80px;
  }
}

@media (max-width: 1250px) and (min-width: 1201px) {
  .slider-container-about {
    gap: 50px;
  }

  .h2-about{
    padding-left: 75px;
  }
}

@media (max-width: 1200px) and (min-width: 1151px) {
  .slider-container-about {
    gap: 45px;
  }

  .h2-about{
    padding-left: 70px;
  }
}

@media (max-width: 1150px) and (min-width: 1101px) {
  .slider-container-about {
    gap: 40px;
  }

  .h2-about{
    padding-left: 65px;
  }
}

@media (max-width: 1100px) and (min-width: 1051px) {
  .slider-container-about {
    gap: 35px;
  }

  .h2-about{
    padding-left: 60px;
  }
}

@media (max-width: 1100px) and (min-width: 1051px) {
  .slider-container-about {
    gap: 30px;
  }

  .h2-about{
    padding-left: 55px;
  }
}

@media (max-width: 1050px) and (min-width: 1001px) {
  .slider-container-about {
    gap: 25px;
  }

  .h2-about{
    padding-left: 50px;
  }
}

@media (max-width: 1000px) and (min-width: 951px) {
  .slider-container-about {
    gap: 20px;
  }

  .h2-about{
    padding-left: 45px;
  }
}

@media (max-width: 950px) and (min-width: 901px) {
  .slider-container-about {
    gap: 15px;
  }

  .h2-about{
    padding-left: 40px;
  }
}

@media (max-width: 900px) and (min-width: 851px) {
  .slider-container-about {
    gap: 10px;
  }

  .h2-about{
    padding-left: 35px;
  }
}

@media (max-width: 850px) and (min-width: 769px) {
  .slider-container-about {
    gap: 5px;
  }

  .h2-about{
    padding-left: 30px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .slider-track-about {
    gap: 16px;
  }

  .slider-card-about {
    min-width: 300px;
    max-width: 367px;
  }

  .slider-dots-about {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 4px;
  }
}

/* პარამეტრები */

@media (max-width: 768px) and (min-width: 320px) {
  .settings-wrapper{
    margin: 87px auto 44px;
  }

  .h1-settings{
    font-size: 24px;
    margin-bottom: 24px;
  }

  .settings-container {
    flex-direction: column;
  }

  .settings-sidebar {
    flex-direction: row;
  }

  .divider-setting {
    width: 100%;
    height: 1px;
    margin: 16px 0 20px;
  }

  .avatar-box {
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
    align-items: center;
  }

  .avatar-img {
    width: 70px;
    height: 70px;
  }

  .avatar-edit-icon {
    padding: 6px;
  }

  .label-user{
    font-size: 12px;
  }

  .div-profile{
    gap: 4px;
  }

  .div-password-settings{
    gap: 34px;
  }

  .delete-settings{
    font-size: 14px;
    margin-top: 57px;
  }

  .modal-content {
    padding: 36px 30px;
  }

  .modal-text {
    font-size: 14px;
    margin-top: 12px;
    max-width: 242px;
  }

  .modal-text-2{
    font-size: 12px;
    margin: 12px 0px 20px;
  }

  .btn-delete {
    width: 120px;
    height: 36px;
    font-size: 12px;
  }

  .btn-primary-delete {
    width: 120px;
    height: 36px;
    font-size: 12px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .div-profile-flex{
    justify-content: flex-start;
    gap: 24px;
    flex-direction: column;
  }

  .div-profile{
    max-width: 410px;
  }

  .actions {
    justify-content: center;
  }

  .password-wrapper-settings{
    max-width: 410px;
  }

  .btn {
    max-width: 200px;
    height: 40px;
  }

  .btn-primary {
    max-width: 200px;
    height: 40px;
  }

  .btn-password {
    max-width: 200px;
    height: 40px;
  }

  .btn-primary-password {
    max-width: 200px;
    height: 40px;
  }
}

/* მომხმარებლის პროფილი */

@media (max-width: 768px) and (min-width: 320px) {
  .user-wrapper{
    margin: 88px auto 20px;
  }

  .img-user-profile{
    width: 80px;
    height: 80px;
  }

  .h1-img-user{
    margin-bottom: 0px;
  }

  .h1-user{
    font-size: 16px;
  }

  .user-p{
    font-size: 14px;
    margin-bottom: 4px;
  }

  .a-user-link{
    margin-bottom: 4px;
  }

  .div-user-info{
    gap: 6px;
    font-size: 12px;
  }

  .nav-user {
    padding: 20px 0;
    gap: 16px;
    margin: 20px 0 20px;
    overflow-x: auto; 
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .divider-setting-user{
    margin: 0 3px;
  }

  .div-create{
    min-height: 170px;
  }

  .h2-user{
    font-size: 16px;
    margin-bottom: 16px;
  }

  .user-add-icon{
    width: 46px;
    height: 46px;
  }

  .h3-create{
    font-size: 14px;
    margin-top: 0px;
  }

  .p-create{
    font-size: 12px;
  }

  .hidden-option{
    gap: 24px;
    padding: 108px 0 268px;
    font-size: 16px;
  }

  .button-tell{
    padding: 13px;
  }
}

@media (max-width: 1172px) and (min-width: 320px) {
  .div-reader{
    justify-content: center;
  }

  .div-work{
    justify-content: center;
  }

  .div-road{
    justify-content: center;
  }

  .div-saved{
    justify-content: center;
  }

  .div-liked{
    justify-content: center;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .user-hide-media{
    display: none;
  }
}

/* შესვლა რეგისტრაცია */

@media (max-width: 366px) and (min-width: 345px) {
  .aprove{
    font-size: 13px;
  }
}

@media (max-width: 344px) and (min-width: 323px) {
  .aprove{
    font-size: 12px;
  }
}

@media (max-width: 322px) and (min-width: 320px) {
  .aprove{
    font-size: 11px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .enter-reg {
    font-size: 16px;
  }

  .form.active { 
    gap: 16px; 
  }

  .tab {
    padding-bottom: 20px;
  }

  .enter-header{
    left: 16px;
  }

  .enter-footer{
    left: 16px;
  }

  .enter-section{
    margin: 117px 16px 184px;
    position: relative;
    z-index: 1000;
  }
}

@media (max-width: 334px) and (min-width: 320px) {
  .enter-footer{
    font-size: 13px;
  }
}

/* პაროლის შეცვლა */

@media (max-width: 768px) and (min-width: 320px) {
  .section-password {
    margin: 117px 16px 315px;
  }

  .h2-steps {
    font-size: 16px;
    margin: 20px 0;
  }

  .p-steps {
    font-size: 14px;
  }

  .back-link {
    margin-top: 44px;
  }
}

/* ავტორის გვერდი */

@media (max-width: 768px) and (min-width: 320px) {
  .author-wrapper{
    margin: 88px auto 20px;
  }

  .img-author-inner{
    width: 80px;
    height: 80px;
  }

  .h1-img-author{
    margin-bottom: 0px;
  }

  .h1-author{
    font-size: 16px;
  }

  .author-p{
    font-size: 14px;
    margin-bottom: 4px;
  }

  .a-author-link{
    margin-bottom: 4px;
  }

  .div-author-info{
    gap: 6px;
    font-size: 12px;
  }

  .nav-author {
    padding: 20px 0;
    gap: 16px;
    margin: 20px 0 20px;
  }

  .h2-author{
    font-size: 16px;
    margin-bottom: 16px;
  }

  .author-add-icon{
    width: 46px;
    height: 46px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .author-hide-media{
    display: none;
  }
}

/* აღმოაჩინე */

@media (max-width: 768px) and (min-width: 320px) {
  .hero-explore-wrapper {
    margin: 65px auto 12px;
    padding: 0px;
  }

  .hero-explore {
    padding: 42px 16px 73px;
    border-radius: 0px;
  }

  .explore-wrapper{
    margin: 24px auto 42px;
  }

  .hero-title-explore{
    font-size: 16px;
    margin-bottom: 16px;
  }

  .hero-text-explore{
    font-size: 14px;
    margin-bottom: 10px;
    width: 280px;
  }
}

@media (max-width: 1198px) and (min-width: 320px) {
  .explore-slider-wrapper {
    padding: 0 16px;
  }
}

/* inner */

@media (max-width: 1318px) and (min-width: 769px) {
  .inner-wrapper{
    padding: 0 10px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .inner-wrapper {
    margin: 44px auto 30px;
    padding: 0 16px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .slider-inner-h2{
    font-size: 20px;
  }

  .slider-card-inner {
    max-width: 410px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .inner-section-wrapper{
    margin: 89px auto 0;
  }

  .slider-inner-h2 {
    font-size: 16px;
  }

  .a-slider-inner{
    font-size: 12px;
  }

  .div-inner-icons{
    padding: 15px 0;
  }

  .inner-article{
    margin: 20px 0;
  }

  .h1-article{
    font-size: 16px;
  }

  .inner-article-introduction{
    margin-bottom: 16px;
    padding-left: 8px;
  }

  .p-introduction{
    font-size: 14px;
  }

  .p-inner-text{
    font-size: 14px;
  }

  .inner-img{
    width: 100%;
    height: 220px;
    margin: 15px 0;
    object-fit: cover;
  }

  .div-tags{
    margin: 32px 0 12px;
    gap: 8px;
  }

  .tag{
    font-size: 12px;
  }

  .modal-content-inner {
    padding: 36px 30px;
  }

  .cancel-delete{
    width: 120px;
    height: 36px;
  }

  .confirm-delete{
    width: 120px;
    height: 36px;
  }

  .p-delete-inner{
    font-size: 14px;
    margin-top: 12px;
    max-width: 249px;
  }

  .modal-buttons-inner{
    gap: 8px;
    margin-top: 20px;
  }
}

@media (max-width: 350px) and (min-width: 320px) {
  .slider-inner-h2 {
    font-size: 14px;
  }

  .a-slider-inner{
    font-size: 10px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .slider-card-inner {
    flex: 0 0 auto;
    display: block;
    opacity: 1;
    max-width: 300px;
  }

  #top-notif {
    width: 300px;
    height: 48px;
  }
}

/* სტატიის შექმნის გვერდი */

@media (max-width: 500px) and (min-width: 320px) {
  .custom-modal{
    padding: 16px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .custom-modal-content{
    height: 526px;
    overflow-y: auto;
  }
}