

/* საიდბარი */
@media (max-width: 425px) and (min-width: 320px) {
   
  .menu-toggle {
    display: flex;
  }

  .sidebar.open {
    left: 0;
  }
}

@media (max-width: px) and (min-width: px) {
   .wrapper{
    padding: 0px 20px
  }
}

@media (max-width: px) and (min-width: px) {
   .wrapper{
    padding: 0px 10px
  }
}