@media (max-width: 1024px) and (min-width: 320px) {
  .start{
    display: none;
  }
}

@media (max-width: 1172px) and (min-width: 320px) {
  .wrapper{
    padding: 0px 16px;
  }
}

/* საიდბარი */
@media (max-width: 768px) and (min-width: 320px) {
  .header-ul{
  display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .sidebar.open {
    left: 0;
  }
}

/* faq */

@media (max-width: 768px) and (min-width: 320px) {
  .faq-wrapper{
    margin: 132px auto 42px;
  }
}

/* rules */

@media (max-width: 768px) and (min-width: 320px) {
  .rules-h1{
    font-size: 16px;
    margin-bottom: 20px;
  }

  .rules-wrapper{
    margin: 0 auto 42px;
    font-size: 14px;
  }

  .recommendation{
    margin: 76px auto 24px;
  }
}

/* მეტის ნახვა */

@media (max-width: 425px) and (min-width: 320px) {
  .div-popular{
    gap: 24px;
  }
  
  .h1-popular{
    font-size: 16px;
    margin-bottom: 16px;
  }

  .profile-img {
    width: 96px;
    height: 96px;
  }

  .see-all-wrapper{
    display: none;
  }

  .autor-p{
    font-size: 14px;
  }

  .card {
    padding: 16px;
    gap: 16px;
  }

  .slider-card-tag {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .slider-card-title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .slider-card-text {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .img-user{
    width: 14px;
    height: 14px;
  }

  .more-wrapper{
    margin: 84px auto 42px;
  }
}

@media (max-width: 1160px) and (min-width: 320px) {
  .div-popular{
    justify-content: center;
  }
}

/* ჰედერი */

@media (max-width: 425px) and (min-width: 320px) {
  .header-right{
    gap: 12px;
  }

  .header-logo{
    width: 132px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .header{
    margin: 18px auto;
  }
}

/* უსერ მოდალი */

@media (max-width: 768px) and (min-width: 320px) {
  .user-modal {
    max-width: 227px;
    right: 16px;
  }

  .div-user-img-info{
    padding: 16px;
  }

  .li-user{
    padding: 14px;
  }
}

/* შეტყობინებების მოდალი */

@media (max-width: 768px) and (min-width: 320px) {
  .notification-modal {
    position: fixed;
    top: 65px;
    left: 0;
    height: calc(100% - 65px);
    max-width: none;
    max-height: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .close-notif{
    display: flex;
  }

  .h3-button-notif{
    padding: 20px 20px 32px 20px;
  }

  .notif-title {
    font-size: 16px;
    border-bottom: none;
  }

  .notif-list {
    flex: 1;
  }

  .notif-item {
    padding: 14px 20px;
  }
}

/* სერჩი */

@media (max-width: 768px) and (min-width: 320px) {
  .search-submit {
    display: none;
  }

  .right-controls {
    position: relative;
  }

  .filter-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .filter-dropdown:hover {
    background: #F8F8F8;
  }

  .dropdown-arrow {
    transition: transform 0.3s ease;
  }

  .filter-dropdown.open .dropdown-arrow {
    transform: rotate(180deg);
  }

  .filter-options {
    position: absolute;
    top: 25px;
    right: -17px;
    background: #FFFFFF;
    border: 1px solid #ACACAC;
    border-radius: 300px;
    display: none;
    padding: 18px 23px;
    gap: 12px;
    z-index: 99;
  }

  .filter-options.open {
    display: flex;
  }

  .right-controls > .chip {
    display: none;
  }

  .filter-options .chip {
    padding: 0px;
    border: none;
    background: #FFFFFF;
    font-size: 12px;
  }
}

@media (max-width: 1140px) and (min-width: 320px) {
  .search-dropdown{
    padding: 0 16px;
  }
}

/* ფუტერი */

@media (max-width: 1172px) and (min-width: 769px) {
  .div-footer{
    padding: 70px 48px 30px;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .div-footer{
    padding: 32px 48px 16px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .div-footer{
    padding: 32px 24px 16px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .footer-div-p{
    font-size: 14px;
  }

  .h4-nav-footer{
    margin-bottom: 20px;
  }

  .footer-ul{
    gap: 12px;
  }
}

@media (max-width: 800px) and (min-width: 320px) {
  .footer-div-p{
    max-width: 704px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .footer-div-margin-right{
    margin-right: 18px;
  }
}

@media (max-width: 542px) and (min-width: 320px) {
  .div-under{
    display: block;
  }

  .div-social{
    justify-self: flex-end;
  }
  
  .p-footer-down{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 346px) and (min-width: 320px) {
  .p-footer-down{
    font-size: 12px;
  }
}

/* მთავარი გვერდი */

@media (max-width: 1160px) and (min-width: 1025px) {
  .hero-wrapper {
    padding: 195px 32px 185px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .hero-wrapper {
    padding: 150px 32px 100px;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .hero-wrapper {
    padding: 104px 32px 73px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .hero-wrapper {
    padding: 104px 16px 73px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .hero-text{
    font-size: 14px;
    width: 290px;
  }

  .hero-button {
    width: 144px;
    height: 42px;
    font-size: 12px;
  }

  .hero-title{
    font-size: 16px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .slider-section-title {
    font-size: 20px;
  }

  .a-slider{
    font-size: 13px;
  }

  .card-description{
    padding-top: 16px;
  }

  .slider-card-tag {
    font-size: 15px;
    margin-bottom: 12px;
  }

  .img-user{
    width: 17px;
    height: 17px;
  }

  .slider-card-title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .slider-card-text {
    font-size: 15px;
    margin-bottom: 16px;
  }

  .slider-card-meta {
    font-size: 13px;
  }

  .span-images{
    font-size: 13px;
  }

  .card {
    padding: 18px;
    gap: 18px;
  }

  .profile-img{
    width: 100px;
    height: 100px;
  }

  .autor-p{
    font-size: 15px;
  }
}

@media (max-width: 1311px) and (min-width: 1251px) {
  .slider-container {
    gap: 50px;
  }

  .slider-section-header {
    padding: 0 69px;
  }
}

@media (max-width: 1250px) and (min-width: 1201px) {
  .slider-container {
    gap: 45px;
  }

  .slider-section-header {
    padding: 0 64px;
  }
}

@media (max-width: 1201px) and (min-width: 1151px) {
  .slider-container {
    gap: 40px;
  }

  .slider-section-header {
    padding: 0 59px;
  }
}

@media (max-width: 1150px) and (min-width: 1101px) {
  .slider-container {
    gap: 35px;
  }

  .slider-section-header {
    padding: 0 54px;
  }
}

@media (max-width: 1100px) and (min-width: 1051px) {
  .slider-container {
    gap: 30px;
  }

  .slider-section-header {
    padding: 0 49px;
  }
}

@media (max-width: 1050px) and (min-width: 1001px) {
  .slider-container {
    gap: 25px;
  }

  .slider-section-header {
    padding: 0 44px;
  }
}

@media (max-width: 1000px) and (min-width: 951px) {
  .slider-container {
    gap: 20px;
  }

  .slider-section-header {
    padding: 0 39px;
  }
}

@media (max-width: 951px) and (min-width: 901px) {
  .slider-container {
    gap: 15px;
  }

  .slider-section-header {
    padding: 0 34px;
  }
}

@media (max-width: 900px) and (min-width: 874px) {
  .slider-container {
    gap: 10px;
  }

  .slider-section-header {
    padding: 0 29px;
  }
}

@media (max-width: 1318px) and (min-width: 769px) {
  .main-wrapper{
    padding: 0 10px;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .main-wrapper{
    margin: 24px auto 36px;
    padding: 0 32px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .main-wrapper{
    margin: 24px auto 36px;
    padding: 0 16px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .slider-section-header {
    margin-bottom: 12px;
    padding: 0 0px;
  }
  
  .slider-section-title {
    font-size: 16px;
  }

  .a-slider{
    font-size: 12px;
  }

  .card-description{
    padding-top: 12px;
  }

  .slider-card-tag {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .img-user{
    width: 14px;
    height: 14px;
  }

  .slider-card-title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .slider-card-text {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .slider-card-meta {
    font-size: 12px;
  }

  .span-images{
    font-size: 12px;
  }

  .card {
    padding: 16px;
    gap: 16px;
  }

  .profile-img{
    width: 96px;
    height: 96px;
  }

  .autor-p{
    font-size: 14px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .slider-btn {
    display: none;
  }

  .slider-container {
    overflow-x: auto;
    gap: 20px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .slider-container::-webkit-scrollbar {
    display: none;
  }

  .slider-track {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  .slider-card {
    flex: 0 0 auto;
    display: block;
    opacity: 1;
    max-width: 300px;
  }

  .slider-dots {
    display: flex;
  }
}

/* ჩვენს შესახებ */

@media (max-width: 1324px) and (min-width: 769px) {
  .about-slider-wrapper{
    padding: 0 10px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .about-slider-wrapper{
    padding: 0 16px;
    margin: 0px auto 42px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {

  .about-wrapper{
    margin: 88px auto 36px;
  }

  .about-h1{
    font-size: 24px;
    margin-bottom: 24px;
  }

  .about-p{
    font-size: 14px;
  }

  .h2-about{
    font-size: 16px;
    padding-left: 0px;
    margin-bottom: 12px;
  }

  .img-about{
    height: 200px;
  }
}

@media (max-width: 1324px) and (min-width: 1301px) {
  .slider-container-about {
    gap: 60px;
  }

  .h2-about{
    padding-left: 82px;
  }
}

@media (max-width: 1301px) and (min-width: 1251px) {
  .slider-container-about {
    gap: 55px;
  }

  .h2-about{
    padding-left: 77px;
  }
}

@media (max-width: 1250px) and (min-width: 1201px) {
  .slider-container-about {
    gap: 50px;
  }

  .h2-about{
    padding-left: 72px;
  }
}

@media (max-width: 1200px) and (min-width: 1151px) {
  .slider-container-about {
    gap: 45px;
  }

  .h2-about{
    padding-left: 67px;
  }
}

@media (max-width: 1150px) and (min-width: 1101px) {
  .slider-container-about {
    gap: 40px;
  }

  .h2-about{
    padding-left: 62px;
  }
}

@media (max-width: 1100px) and (min-width: 1051px) {
  .slider-container-about {
    gap: 35px;
  }

  .h2-about{
    padding-left: 57px;
  }
}

@media (max-width: 1100px) and (min-width: 1051px) {
  .slider-container-about {
    gap: 30px;
  }

  .h2-about{
    padding-left: 52px;
  }
}

@media (max-width: 1050px) and (min-width: 1001px) {
  .slider-container-about {
    gap: 25px;
  }

  .h2-about{
    padding-left: 47px;
  }
}

@media (max-width: 1000px) and (min-width: 951px) {
  .slider-container-about {
    gap: 20px;
  }

  .h2-about{
    padding-left: 42px;
  }
}

@media (max-width: 950px) and (min-width: 901px) {
  .slider-container-about {
    gap: 15px;
  }

  .h2-about{
    padding-left: 37px;
  }
}

@media (max-width: 900px) and (min-width: 851px) {
  .slider-container-about {
    gap: 10px;
  }

  .h2-about{
    padding-left: 32px;
  }
}

@media (max-width: 850px) and (min-width: 769px) {
  .slider-container-about {
    gap: 5px;
  }

  .h2-about{
    padding-left: 27px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .slider-container-about {
    overflow-x: auto;
    gap: 20px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .slider-container-about::-webkit-scrollbar {
    display: none;
  }

  .slider-track-about {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  .slider-card-about {
    min-width: 300px;
    max-width: 367px;
  }

  .slider-dots-about {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    gap: 4px;
  }
}

/* პარამეტრები */

@media (max-width: 768px) and (min-width: 320px) {
  .settings-wrapper{
    margin: 87px auto 44px;
  }

  .h1-settings{
    font-size: 24px;
    margin-bottom: 24px;
  }

  .settings-container {
    flex-direction: column;
  }

  .settings-sidebar {
    flex-direction: row;
  }

  .divider-setting {
    width: 100%;
    height: 1px;
    margin: 16px 0 20px;
  }

  .avatar-box {
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
    align-items: center;
  }

  .avatar-img {
    width: 70px;
    height: 70px;
  }

  .avatar-edit-icon {
    padding: 6px;
  }

  .label-user{
    font-size: 12px;
  }

  .div-profile{
    gap: 4px;
  }

  .div-password-settings{
    gap: 34px;
  }

  .delete-settings{
    font-size: 14px;
    margin-top: 57px;
  }

  .modal-content {
    padding: 36px 30px;
  }

  .modal-text {
    font-size: 14px;
    margin-top: 12px;
  }

  .modal-text-2{
    font-size: 12px;
    margin: 12px 0px 20px;
  }

  .btn-delete {
    width: 120px;
    height: 36px;
    font-size: 12px;
  }

  .btn-primary-delete {
    width: 120px;
    height: 36px;
    font-size: 12px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .div-profile-flex{
    justify-content: flex-start;
    gap: 4px;
    flex-direction: column;
  }

  .div-profile{
    max-width: 410px;
  }

  .actions {
    justify-content: center;
    gap: 8px;
  }

  .password-wrapper-settings{
    max-width: 410px;
  }
}

/* მომხმარებლის პროფილი */

@media (max-width: 768px) and (min-width: 320px) {
  .user-wrapper{
    margin: 88px auto 20px;
  }

  .img-user-inner{
    width: 80px;
    height: 80px;
  }

  .h1-user{
    font-size: 16px;
    margin-bottom: 0px;
  }

  .user-p{
    font-size: 14px;
    margin-bottom: 4px;
  }

  .a-user-link{
    margin-bottom: 4px;
  }

  .div-user-info{
    gap: 6px;
    font-size: 12px;
  }

  .nav-user {
    padding: 20px 0;
    gap: 16px;
    margin: 20px 0 20px;
    overflow-x: auto; 
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .div-create{
    min-height: 170px;
  }

  .h2-user{
    font-size: 16px;
    margin-bottom: 16px;
  }

  .user-add-icon{
    width: 46px;
    height: 46px;
  }

  .h3-create{
    font-size: 14px;
    margin-top: 0px;
  }

  .p-create{
    font-size: 12px;
  }

  .hidden-option{
    gap: 24px;
    padding: 108px 0 268px;
    font-size: 16px;
  }

  .button-tell{
    padding: 13px;
  }
}

@media (max-width: 1172px) and (min-width: 320px) {
  .div-reader{
    justify-content: center;
  }

  .div-work{
    justify-content: center;
  }

  .div-road{
    justify-content: center;
  }

  .div-saved{
    justify-content: center;
  }

  .div-liked{
    justify-content: center;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .user-hide-media{
    display: none;
  }
}

/* შესვლა რეგისტრაცია */

@media (max-width: 386px) and (min-width: 320px) {
  .enter-section{
    padding: 0 16px;
  }
}

@media (max-width: 333px) and (min-width: 320px) {
  label.aprove{
    font-size: 13px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .enter-reg {
    font-size: 16px;
  }

  .form.active { 
    gap: 16px; 
  }

  .tab {
    padding-bottom: 20px;
  }
}

/* პაროლის შეცვლა */

@media (max-width: 376px) and (min-width: 320px) {
  .section-password {
    padding: 0 16px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .h2-steps {
    font-size: 16px;
    margin: 20px 0;
  }

  .p-steps {
    font-size: 14px;
  }

  .back-link {
    margin-top: 44px;
  }
}