@media (max-width: 1024px) and (min-width: 320px) {
  .start{
    display: none;
  }
}


@media (max-width: 768px) and (min-width: 320px) {
  .header-ul{
  display: none;
  }
}


/* საიდბარი */
@media (max-width: 425px) and (min-width: 320px) {
   
  .menu-toggle {
    display: flex;
  }

  .sidebar.open {
    left: 0;
  }
}

@media (max-width: 1160px) and (min-width: 426px) {
  .wrapper{
    padding: 0px 32px;
  }
}

@media (max-width: 425px) and (min-width: 320px) {
  .wrapper{
    padding: 0px 16px;
  }
}

/* faq */

@media (max-width: 768px) and (min-width: 320px) {
  .faq-wrapper{
    margin: 132px auto 42px;
  }
}

/* rules */

@media (max-width: 768px) and (min-width: 320px) {
  .rules-h1{
    font-size: 16px;
    margin-bottom: 20px;
  }

  .rules-wrapper{
    margin: 0 auto 42px;
    font-size: 14px;
  }

  .recommendation{
    margin: 76px auto 24px;
  }
}

/* მეტის ნახვა */

@media (max-width: 425px) and (min-width: 320px) {
  .div-popular{
    gap: 24px;
  }
  
  .h1-popular{
    font-size: 16px;
    margin-bottom: 16px;
  }

  .profile-img {
    width: 96px;
    height: 96px;
  }

  .see-all-wrapper{
    display: none;
  }

  .autor-p{
    font-size: 14px;
  }

  .card {
    padding: 16px;
    gap: 16px;
  }

  .slider-card-tag {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .slider-card-title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .slider-card-text {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .img-user{
    width: 14px;
    height: 14px;
  }

  .more-wrapper{
    margin: 84px auto 42px;
  }
}

@media (max-width: 1160px) and (min-width: 320px) {
  .div-popular{
    justify-content: center;
  }
}