* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  max-width: 1280px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  background-color: white;
  position: fixed; 
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
}

.header-ul{
  display:flex;
  flex-direction:row;
  gap:40px;
  text-decoration: none;
}

.header-right{
  display:flex;
  flex-direction:row;
  gap:15px;
}

.header-right-enter{
  display:flex;
  flex-direction:row;
  gap:15px;
}

.footer{
  background-color: #282624;
  width: 100%;
  padding: 30px 0px;
}

.footer-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.div-footer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.a-footer{
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.div-under{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.p-footer-down{
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.footer-div-p{
  width: 333px;
  line-height: 26px;
}

.p-footer-up{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.div-social{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

/* რეგისტრაცი/შესვლა */

.enter-header{
  position: relative;
  padding-left: 50px;
  padding-top: 20px;
  border-bottom: none;
}

.enter-footer{
  position: absolute;
  padding-left: 50px;
  font-size: 14px;
  bottom: 20px;
}

.enter-section{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.container {
  max-width: 370px;
  width: 100%;
}

.enter-reg {
  margin: 0 0 18px;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.tabs {
  display: flex;
  margin-bottom: 18px;
}

.tab {
  flex: 1;
  padding: 10px 8px;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #6b7280;
  border-bottom: 2px solid #e5e7eb; 
}

.tab.active {
  color: #000000;
  border-color: #000000;
}

.form { 
  display: none; 
  flex-direction: column; 
}

.form.active { 
  display: flex; 
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 10px 0;
}

.field input {
  width: 100%;
  padding: 12px 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}

.field h3{
  font-size: 14px;
}

.field input:focus { 
  border-color: #c7cad1; 
}

.div-enter-flex{
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

label.inline {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  margin-top: 6px;
  cursor: pointer;
}

label.aprove{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: black;
  cursor: pointer;
}

.primary{
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
  background: #282624;
  color: #FFFFFF;
}


.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #FFFFFF;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.divider {
  position: relative;
  text-align: center;
  margin: 14px 0;
  color: #6b7280;
  font-size: 12px;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background: #e5e7eb;
}

.divider::before { 
  left: 0; 
}

.divider::after { 
  right: 0; 
}

.helper {
  font-size: 13px;
  color: #374151;
  text-align: center;
  margin-top: 10px;
}

.helper a { 
  color: #000000; 
  text-decoration: none; 
  font-size: 14px;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.password-wrapper img {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

/* პაროლის შეცვლა */

.section-password {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.password-container {
  width: 540px;
  text-align: center;
}

.h2-steps {
  font-size: 32px;
  margin-bottom: 20px;
}

.p-steps {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin-bottom: 20px;
}

.email-input {
  width: 100%;
  padding: 16px;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-size: 14px;
}

.email-input:focus { 
  border-color: #c7cad1; 
}

.return-btn {
  width: 100%;
  padding: 15px;
  background: #282624;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
}

.showemail{
  color: #282624;
}

.back-link {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #444;
  text-decoration: none;
}

.code-inputs {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.code {
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.password-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 8px 0;
  text-align: left;
}

.password-field input {
  width: 100%;
  padding: 12px 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}

.password-field h3{
  font-size: 14px;
}

.password-field input:focus { 
  border-color: #c7cad1; 
}

.small-text {
  margin-top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.a-small-text{
  font-size: 16px;
  color: #000000;
}

.hidden {
  display: none;
}

/* მთავარი გვერდი */

.hero {
  background: #E3E3E3;
  padding: 120px 0;
}

.hero-content {
  max-width: 1280px;
  margin: 0 auto;
}

.hero-title {
  font-size: 32px;
  margin-bottom: 25px;
}

.hero-text {
  width: 500px;
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 16px 0;
  gap: 5px;
  font-size: 16px;
  background: #282624;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
}

/* Slider Section */
.slider-section {
  padding: 40px 0;
}

.slider-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.slider-section-title {
  font-size: 24px;
}

.a-slider{
  font-size: 14px;
  font-weight: bold;
}

.slider-container {
  position: relative;
}

.slider-wrapper {
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slider-card {
  min-width: calc(100% / 3);
  box-sizing: border-box;
  padding: 0 5px;
}

.slider-card-inner {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.slider-card-cover {
  background: #E3E3E3;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-description{
  padding: 20px;
}

.slider-card-tag {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}

.slider-card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.slider-card-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.slider-card-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #000000;
}

.div-images{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.span-images{
  display: flex;
  align-items: center;
  gap: 5px;
}

.slider-card-meta img {
  cursor: pointer;
}

/* Arrows */

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  border: transparent;
  background: transparent;
}

.slider-btn.prev { left: -75px; }
.slider-btn.next { right: -75px; }

/* პიროვნებები */

.card {
  border: 1px solid rgba(0, 0, 0, 0.3);    
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 65px 0;
}

.name {
  font-size: 20px;
  font-weight: bold;

}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #282624;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 10px 45px;
  font-size: 16px;
  text-decoration: none;
}

.footer-text {
  font-size: 16px;
}