* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-editor-wrapper{
  margin: 118px auto 223px;
}

.editor-textarea{
  min-height: 1260px;
}

.tox .tox-promotion {
  display: none;
}

.tox:not([dir=rtl]) .tox-statusbar__branding {
  display: none;
}

.tox:not([dir=rtl]) .tox-statusbar__path>* {
  display: none;
}

.div-button-editor{
  margin-top: 24px;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.button-reset-editor{
  max-width: 143.5px;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191919;
  border: 1px solid #ACACAC;
  background-color: #FDFCF9;
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: 0.14px;
}

.button-next-editor{
  max-width: 143.5px;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border: none;
  background-color: #191919;
  border-radius: 8px;
  letter-spacing: 0.14px;
  font-size: 14px;
}