/* Slider Section */

.slider-dots {
  display: none;
  justify-content: center;
  gap: 4px;
  margin-top: 24px;
}

.slider-dot {
  width: 6px;
  height: 6px;
  background-color: #D7D7D7;
  border-radius: 300px;
  transition: background-color 0.3s ease;
}

.slider-dot.active {
  background-color: #191919;
}

.main-wrapper{
  max-width: 1308px;
  margin: 75px auto 150px;
}

.slider-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  padding: 0 90px;
}

.slider-section-title {
  font-size: 24px;
}

.a-slider{
  font-size: 14px;
  letter-spacing: 0.14px;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 70px;
}

.slider-track {
  display: flex;
  gap: 20px;
}

.slider-card {
  max-width: 367px;
  width: 100%;
  opacity: 0;
  transition: all 0.1s ease;
}

.slider-card:hover{
  transform: scale(1.03);
}

.slider-card.active {
  display: block;
  opacity: 1;
}

.slider-card-cover {
  max-width: 367px;
  width: 100%;
  max-height: 207px;
  border-radius: 8px;
}

.card-description{
  padding-top: 20px;
}

.slider-card-tag {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  margin-bottom: 14px;
}

.slider-card-title {
  font-size: 20px;
  margin-bottom: 12px;
}

.slider-card-text {
  font-size: 16px;
  color: #191919;
  margin-bottom: 20px;
}

.img-user{
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.slider-card-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #000000;
}

.div-date{
  color: #7B7B7B;
}

.div-images{
  display: flex;
  flex-direction: row;
  gap: 12px;
  color: #7B7B7B;
}

.span-images{
  display: flex;
  align-items: center;
  color: #7B7B7B;
  font-size: 14px;
  gap: 5px;
}

/* Arrows */

.slider-btn.visible {
  opacity: 1;
  pointer-events: auto;
}

.slider-btn {
  cursor: pointer;
  border: transparent;
  background: transparent;
}

@media (max-width: 768px) and (min-width: 320px) {
  .slider-btn {
    display: none;
  }

  .slider-container {
    overflow-x: auto;
    gap: 20px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .slider-track {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  .slider-container::-webkit-scrollbar {
    display: none;
  }

  .slider-card {
    flex: 0 0 auto;
    display: block;
    opacity: 1;
    max-width: 300px;
  }

  .slider-dots {
    display: flex;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .slider-card {
    max-width: 405px;
  }

  .slider-card-cover {
    max-width: 405px;
  }
}

@media (max-width: 1318px) and (min-width: 769px) {
  .main-wrapper{
    padding: 0 10px;
  }
}

@media (max-width: 1318px) and (min-width: 1301px) {
  .slider-container {
    gap: 65px;
  }

  .slider-section-header {
    padding: 0 85px;
  }
}

@media (max-width: 1300px) and (min-width: 1276px) {
  .slider-container {
    gap: 55px;
  }

  .slider-section-header {
    padding: 0 80px;
  }
}

@media (max-width: 1275px) and (min-width: 1251px) {
  .slider-container {
    gap: 50px;
  }

  .slider-section-header {
    padding: 0 75px;
  }
}

@media (max-width: 1250px) and (min-width: 1226px) {
  .slider-container {
    gap: 45px;
  }

  .slider-section-header {
    padding: 0 70px;
  }
}

@media (max-width: 1225px) and (min-width: 1201px) {
  .slider-container {
    gap: 40px;
  }

  .slider-section-header {
    padding: 0 65px;
  }
}

@media (max-width: 1200px) and (min-width: 1176px) {
  .slider-container {
    gap: 35px;
  }

  .slider-section-header {
    padding: 0 60px;
  }
}

@media (max-width: 1175px) and (min-width: 1151px) {
  .slider-container {
    gap: 30px;
  }

  .slider-section-header {
    padding: 0 55px;
  }
}

@media (max-width: 1150px) and (min-width: 1126px) {
  .slider-container {
    gap: 25px;
  }

  .slider-section-header {
    padding: 0 50px;
  }
}

@media (max-width: 1125px) and (min-width: 1101px) {
  .slider-container {
    gap: 20px;
  }

  .slider-section-header {
    padding: 0 45px;
  }
}

@media (max-width: 1100px) and (min-width: 1076px) {
  .slider-container {
    gap: 15px;
  }

  .slider-section-header {
    padding: 0 40px;
  }
}

@media (max-width: 1075px) and (min-width: 1051px) {
  .slider-container {
    gap: 10px;
  }

  .slider-section-header {
    padding: 0 35px;
  }
}

@media (max-width: 1050px) and (min-width: 1025px) {
  .slider-container {
    gap: 5px;
  }

  .slider-section-header {
    padding: 0 25px;
  }
}

@media (max-width: 1024px) and (min-width: 1001px) {
  .slider-container {
    gap: 65px;
  }

  .slider-section-header {
    padding: 0 85px;
  }
}

@media (max-width: 1001px) and (min-width: 976px) {
  .slider-container {
    gap: 60px;
  }

  .slider-section-header {
    padding: 0 80px;
  }
}

@media (max-width: 975px) and (min-width: 951px) {
  .slider-container {
    gap: 55px;
  }

  .slider-section-header {
    padding: 0 75px;
  }
}

@media (max-width: 950px) and (min-width: 926px) {
  .slider-container {
    gap: 50px;
  }

  .slider-section-header {
    padding: 0 70px;
  }
}

@media (max-width: 925px) and (min-width: 901px) {
  .slider-container {
    gap: 45px;
  }

  .slider-section-header {
    padding: 0 65px;
  }
}

@media (max-width: 900px) and (min-width: 876px) {
  .slider-container {
    gap: 40px;
  }

  .slider-section-header {
    padding: 0 60px;
  }
}

@media (max-width: 875px) and (min-width: 851px) {
  .slider-container {
    gap: 35px;
  }

  .slider-section-header {
    padding: 0 55px;
  }
}

@media (max-width: 850px) and (min-width: 826px) {
  .slider-container {
    gap: 30px;
  }

  .slider-section-header {
    padding: 0 50px;
  }
}

@media (max-width: 825px) and (min-width: 801px) {
  .slider-container {
    gap: 25px;
  }

  .slider-section-header {
    padding: 0 45px;
  }
}

@media (max-width: 800px) and (min-width: 768px) {
  .slider-container {
    gap: 20px;
  }

  .slider-section-header {
    padding: 0 40px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .main-wrapper{
    margin: 24px auto 36px;
    padding: 0 16px;
  }
}