* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-editor-wrapper{
  margin: 118px auto 223px;
}

.editor-textarea{
  min-height: 1260px;
  padding: 42px;
}

.tox .tox-promotion {
  display: none;
}

.tox:not([dir=rtl]) .tox-statusbar__branding {
  display: none;
}

.tox:not([dir=rtl]) .tox-statusbar__path>* {
  display: none;
}