* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-editor-wrapper{
  margin: 118px auto 223px;
}

.editor-textarea{
  min-height: 1260px;
}

.tox .tox-promotion {
  display: none;
}

.tox:not([dir=rtl]) .tox-statusbar__branding {
  display: none;
}

.tox:not([dir=rtl]) .tox-statusbar__path>* {
  display: none;
}

.div-button-editor{
  margin-top: 24px;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.button-reset-editor{
  max-width: 143.5px;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191919;
  border: 1px solid #ACACAC;
  background-color: #FDFCF9;
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: 0.14px;
  cursor: pointer;
}

.button-next-editor{
  max-width: 143.5px;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border: none;
  background-color: #191919;
  border-radius: 8px;
  letter-spacing: 0.14px;
  font-size: 14px;
  cursor: pointer;
}

.button-next-editor[disabled] {
  cursor: not-allowed;
  background-color: #EDEDED;
  color: #ACACAC;
} 

.button-reset-editor[disabled] {
  cursor: not-allowed;
  border: 1px solid #B8B8B8;
  color: #ACACAC;
}

/* //////// */

.custom-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.custom-modal.active {   
  display: flex;
}
    
.custom-modal-content {
  background: #FDFCF9;
  width: 485px;
  padding: 30px;
  border-radius: 8px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.upload-box {
  width: 100%;
  height: 207px;
  border: 1px solid #B8B8B8;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #FAFAFA;
  margin-bottom: 20px;
}

.input-box{
  margin-bottom: 20px;
}

.select-box {
  margin-top: 6px;
  position: relative;
}

.h2-editor{
  font-size: 16px;
  color: #191919;
  letter-spacing: 0.08px;
  margin-bottom: 8px;
}

.editor-h{
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #B8B8B8;
  cursor: pointer;
  font-size: 14px;
}

#title::placeholder,
#categoryInput::placeholder{
  color: #ACACAC;
  font-family: "regular";
}

.editor-select{
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #B8B8B8;
  cursor: pointer;
}

.checkbox-list {
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background: #FAFAFA;
  border: 1px solid #B8B8B8;
  border-radius: 10px;
  padding: 16px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 6px;
}

.list{
  display: flex;
  align-items: center;
  gap: 4px;
}

.checkbox-list.active {
  display: flex;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 20px;
}

.inner-editor-reset{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191919;
  border: 1px solid #ACACAC;
  background-color: #FDFCF9;
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: 0.14px;
  cursor: pointer;
}

.inner-editor-publish{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border: none;
  background-color: #191919;
  border-radius: 8px;
  letter-spacing: 0.14px;
  font-size: 14px;
  cursor: pointer;
}

.inner-editor-publish[disabled] {
  cursor: not-allowed;
  background-color: #EDEDED;
  color: #ACACAC;
} 

.inner-editor-reset[disabled] {
  cursor: not-allowed;
  border: 1px solid #B8B8B8;
  color: #ACACAC;
}

.error-border {
  border: 2px solid #FF4343;
}

.error-text {
  color: #FF4343;
  font-size: 12px;
  margin-top: 8px;
}

.list.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.select-wrapper {
  width: 100%;
  position: relative;
}

.arrow-img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.3s ease;
}

.arrow-img.rotate {
  transform: translateY(-50%) rotate(180deg);
}


@media (max-width: 500px) and (min-width: 320px) {
  .custom-modal{
    padding: 16px;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .custom-modal-content{
    height: 526px;
    overflow-y: auto;
  }
}